.QuizList {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #007dff 0%, #00498b 150%);
  color: white;
}

.QuizList ul {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.QuizList li {
  margin-bottom: 10px;
}

.QuizList li a {
  text-decoration: none;
  color: white;
}
.QuizList li a:hover {
  text-decoration: none;
  color: #b9ccf7;
}
