.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(315deg, #6888da 0%, #3c458f 100%);
}

.Auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.Auth h1 {
  color: white;
  text-align: center;
}

.AuthForm {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  flex-direction: column;
  background: #eee;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 5px;
  height: 200px;
}

.TextFields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.Buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.TextFields span {
  color: red;
}

.TextFields.invalid {
  color: red;
}

/* <form
            action="GET"
            onSubmit={this.formSubmitHandler}
            className={classes.AuthForm}
          >
            <div className={classes.TextFields}>
              <TextField
                className={clsInput.join(' ')}
                label="Email"
                variant="outlined"
                id={idInput}
                onChange={this.props.onChange}
                value={this.props.value}
              />
              {this.isInvalid(this.props) ? (
                <span>{this.props.errorMsg || 'Enter valid value'}</span>
              ) : null}

              <TextField
                className={clsInput.join(' ')}
                type="password"
                label="Password"
                variant="outlined"
                id={idInput + 1}
                onChange={this.props.onChange}
                value={this.props.value}
                errors={errorMsg}
              />
              <span></span>
            </div>

            <div className={classes.Buttons}>
              <Button onClick={this.props.loginHandler} color="primary">
                Log in
              </Button>
              <Button onClick={this.props.signinHandler} variant="contained">
                Sign in
              </Button>
            </div>
          </form>*/
